.popup__item-error {
  margin: 0;
  padding: 0;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  height: 43px;
  display: block;
  opacity: 0;
  
  overflow: hidden;
  width: 300px;
}
